/* Color Theme Swatches in Hex */
.Screaming-ghost-faces-1-hex { color: #593457; }
.Screaming-ghost-faces-2-hex { color: #181A26; }
.Screaming-ghost-faces-3-hex { color: #3C4C59; }
.Screaming-ghost-faces-4-hex { color: #69868C; }
.Screaming-ghost-faces-5-hex { color: #C1D4D9; }

/* Color Theme Swatches in RGBA */
.Screaming-ghost-faces-1-rgba { color: rgba(89, 51, 86, 1); }
.Screaming-ghost-faces-2-rgba { color: rgba(24, 26, 38, 1); }
.Screaming-ghost-faces-3-rgba { color: rgba(59, 75, 89, 1); }
.Screaming-ghost-faces-4-rgba { color: rgba(105, 133, 140, 1); }
.Screaming-ghost-faces-5-rgba { color: rgba(192, 212, 216, 1); }

/* Color Theme Swatches in HSLA */
.Screaming-ghost-faces-1-hsla { color: hsla(303, 26, 27, 1); }
.Screaming-ghost-faces-2-hsla { color: hsla(230, 22, 12, 1); }
.Screaming-ghost-faces-3-hsla { color: hsla(208, 19, 29, 1); }
.Screaming-ghost-faces-4-hsla { color: hsla(191, 14, 48, 1); }
.Screaming-ghost-faces-5-hsla { color: hsla(191, 23, 80, 1); }






/* Color Theme Swatches in Hex */
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-1-hex { color: #732D3A; }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-2-hex { color: #565759; }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-3-hex { color: #88898C; }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-4-hex { color: #AAB1BF; }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-5-hex { color: #262626; }

/* Color Theme Swatches in RGBA */
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-1-rgba { color: rgba(114, 44, 57, 1); }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-2-rgba { color: rgba(85, 86, 89, 1); }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-3-rgba { color: rgba(136, 137, 140, 1); }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-4-rgba { color: rgba(170, 177, 191, 1); }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-5-rgba { color: rgba(38, 38, 38, 1); }

/* Color Theme Swatches in HSLA */
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-1-hsla { color: hsla(348, 43, 31, 1); }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-2-hsla { color: hsla(225, 2, 34, 1); }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-3-hsla { color: hsla(224, 1, 54, 1); }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-4-hsla { color: hsla(219, 14, 70, 1); }
.Bloody-background-scary-old-cement-wall-and-floor,-concept-of-horror-and-Halloween-5-hsla { color: hsla(0, 0, 15, 1); }



